* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --purple-light-1: #FBFAFB;
    --purple-light-2: #EEEAF2;
    --purple-medium-1: #AA83C8;
    --purple-medium-2: #8B48BF;
    --purple-medium-3: #5C218A;
    --purple-dark-1: #3E0F64;
    --purple-dark-2: #2A0646;
  
    --yellow: #EECC75;
    --green: #CAD297;
    --aqua: #B7EAC5;
    --lightBlue: #A2EEE5;
    --darkBlue: #8EA2EA;
    --red: #F09D9D;
  
    --font-family-titles: 'Dosis', sans-serif;
    --font-family-text: 'Red Hat Display', sans-serif;
    --font-weight-title1: 800;
    --font-weight-title2: 700;
    --font-weight-text1: 400;
    --font-weight-text2: 500;


  }
html{
    font-size: 62.5%;
    
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    padding-top: 24px;
    
}
main{
    width: 100%;
    height: 100vh;
}
.main-detail-movies{
    width: 100%;
    height: 80vh;
    
    
}
#header {
    
   
    background-image: linear-gradient(rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.5)),
    url("https://e0.pxfuel.com/wallpapers/579/745/desktop-wallpaper-movie-captain-marvel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}
.main-detail-movies .header-arrow-back{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}
.main-detail-movies .header-arrow-back img {
    
    
}
.main-detail-movies  .detail-movie{
    
    display: flex;
    flex-wrap: nowrap;
}
.detail-movie div img{
    width: 170px;
    height: 330px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
    cursor: pointer;
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out .5s;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: border 100ms ease-out 0s;
}
.detail-movie-section{
    margin-left: 24px;
    margin-right: 24px;
    
}
.detail-movie .info-detail-movie {
    margin-left: 12px;
}
.detail-movie .info-detail-movie .tittle-detail-movie .sub-tiitle-information{
    display: block;
    width: 100%;
    align-items: center;
    
    margin-top: 8px;
    margin-bottom: 8px;
}
.detail-movie .info-detail-movie .tittle-detail-movie .sub-tiitle-information .genre{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.detail-movie .info-detail-movie .tittle-detail-movie .sub-tiitle-information h3{
    color: white;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 1.6rem;
    font-weight: 100;
    
}
.detail-movie .info-detail-movie .tittle-detail-movie h2{
    color: white;
    font-size: 2.8rem;
    font-weight: bold;
}
.detail-movie .info-detail-movie .text-detail-movie p{
    color: white;
    font-size: 1.2rem;
    
}
.detail-movie .info-detail-movie .text-detail-movie h3{
    color: white;
    font-size: 2.0rem;
    margin-top: 8px;
    margin-bottom: 12px;
    
}
.header-search h1{
    font-size: 3.2rem;
    margin-bottom: 12px;
    color: black;
    font-weight: bolder;
    margin-right: 0;
}
.tiitle-head {
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 4px;
    
}
.tiitle-head img{
    width: 80px;
    height: 50px;
    margin-bottom: 12px;
    
}
.header-search h2{
    font-size: 2.2rem;
    margin-bottom: 12px;
    color: #f72812;
    font-weight: bold;
}
.header-search-button form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
    box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
    cursor: pointer;
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out .5s;
    -webkit-font-smoothing: subpixel-antialiased;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.header-search-button input {
    height: 48px;
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    padding-left: 20px;
    font-size: 1.6rem;
    background-color: #a7a0a748;
    
}
 .header-search-button form button{
    width: 56px;
    height: 48px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #ca0000;
    
}
 .header-search-button form button img{
    width: 20px;
    height: 20px;
}

main .main-section-movies .main-section-movies-tittles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
main .main-section-movies .main-section-movies-tittles h2{
    font-size: 3.2rem;
    color: #ca0000;
    
    
}
main .main-section-movies .main-section-movies-tittles button{
    width: 120px;
    height: 35px;
    border: none;
    color: white;
    background-color: #ca0000;
    font-size: 1.6rem;
    font-weight: bold;
    transition: all .5s;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
    cursor: pointer;
    -webkit-font-smoothing: subpixel-antialiased;
    

}

main .main-section-movies .main-section-movies-tittles button:hover{
    transition: all .5s;
    background-color: white;
    color: #ca0000;
    
}
main .main-movies-images{
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    height: 341px;
    padding-bottom: 16px;
    transition: all .5s;
    
}
/* .title{
    font-size: 3.0rem;
    color: white;
    position: relative;
    top: 50px;
    text-align: center;
    
} */
main .main-movies-images .movie-container{
    display: inline-block;
    margin-right: 36px;
    
}
.button-left-movies{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 89%;
    bottom: 52%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: none;
    transition: all .5s;
}
.button-rigth-movies{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 89%;
    bottom: 52%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: none;
    transition: all .5s;
}
#button:hover{
    transition: all .5s;
    background-color: gray;
    
}
main .movie-container .movie-img{
    height: 325px;
    min-height: 325px;
    max-height: 325px;
    width: 210px;
    min-width: 210px;
    max-width: 210px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
    cursor: pointer;
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out .5s;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: border 100ms ease-out 0s;
}
main .movie-container .movie-img::after{
    box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
    cursor: pointer;
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out .5s;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: border 300ms ease-out 0s;
}
main .movie-container .movie-img:hover{
    border-radius: 4px;
    border: 6px solid #ca0000;
    inset: 0px;
    content: "";
    transition: border 300ms ease-out 0s;

} 
.main-categories {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.main-categories .main-categories-tittle{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 2.8rem;
    margin-left: 16px;
}
.main-categories .main-categories-tittle h2{
    color: #ca0000;
    font-size: 2.4rem;
}
.category-container {
    width: 150px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.69) 0px 16px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 12px;
    margin-left: 12px;
    transition: all .5s;
    display: flex;
    align-items: center;
    text-align: center;
  }
.categories-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
  .category-title{
    font-size: 1.8rem;
    cursor: pointer;
    padding: 10px;
  }
  .category-container:hover{
    transition: all .5s;
    transform: scale(1.1);
  }
  
  .category-title::before {
    text-align: center;
    content: '••••';
    color: transparent;
    /* TODO: cambiar color por ID de la categoría */
    background-color: var(--idColor);
    border-radius: 8px;
    margin-right: 8px;
    width: 8px;
    height: 8px;
  }
#id28 { --idColor: var(--yellow); }
#id12 { --idColor: var(--red); }
#id16 { --idColor: var(--green); }
#id35 { --idColor: var(--lightBlue); }
#id80 { --idColor: var(--darkBlue); }
#id99 { --idColor: var(--purple-dark-1); }
#id18 { --idColor: var(--purple-medium-1); }
#id10751 { --idColor: var(--yellow); }
#id14 { --idColor: var(--red); }
#id36 { --idColor: var(--green); }
#id27 { --idColor: var(--lightBlue); }
#id10402 { --idColor: var(--darkBlue); }
#id9648 { --idColor: var(--purple-dark-1); }
#id10749 { --idColor: var(--purple-medium-1); }
#id878 { --idColor: var(--yellow); }
#id10770 { --idColor: var(--red); }
#id53 { --idColor: var(--green); }
#id10752 { --idColor: var(--lightBlue); }
#id37 { --idColor: var(--darkBlue); }

.search-section{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
    
}
.search-section .section-movies-search{
    margin-right: 24px;
    margin-left: 24px;
}
.search-section .section-movies-search img{
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
    cursor: pointer;
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out .5s;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: border 100ms ease-out 0s;
}
.search-section .tittle-search {
    margin-bottom: 16px;
    margin-top: 12px;
    color: #460000;
}
.search-section .tittle-search h2{
    text-align: center;
    font-size: 3.2rem;
    
}

.trends-section{
    width: 100%;
    height: 50vh;
}
.trends-section .trends-arrow-back {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}
.trends-section .trends-arrow-back h2{
    font-size: 4.4rem;
    color: #ca0000;
}
.trends-section .trends-images-movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.trends-section .trends-images-movies img{
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
    cursor: pointer;
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out .5s;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: border 100ms ease-out 0s;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

}
.trends-section .trends-images-movies .section-movies-trends{
    
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.trends-section .trends-images-movies .section-movies-trends img{
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
    cursor: pointer;
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out .5s;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: border 100ms ease-out 0s;
}
.trends-section .trends-images-movies .section-movies-trends h2{
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 16px;
    margin-top: 12px;
    color: #460000;
}
.categories-page{
    width: 100%;
    height: 100vh;

}
.categories-page .category-arrow-back{
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-top: 24px;
}
.categories-page .category-arrow-back img{
    width: 50px;
    height: 50px;
}
.categories-page .category-tittle{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.categories-page .category-tittle h2{
    font-size: 3.2rem;
    color: #ca0000;
}
.categories-page .categories-images-movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.categories-page .movie-container{
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 12px;
    margin-right: 12px;
}
.categories-page .movie-container img{
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
    cursor: pointer;
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out .5s;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: border 100ms ease-out 0s;
}

.categories-page .categories-images-movies .categories-movies h2{
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 16px;
    margin-top: 12px;
    color: #460000;
}
.search-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.search-section .movie-container{
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 12px;
    margin-right: 12px;
}
.search-section .movie-container img{
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
    cursor: pointer;
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out .5s;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: border 100ms ease-out 0s;
}




.inactive{
    display: none;
}

@media (max-width: 320px) {
   
  }

.bords {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
    margin-left: 24px;
}
